extend layout
block content
        form#newprofilform.newform(action="")
            h3#formheader Lägg till Medlem
            #inputcontainer
                span Profil: 
                input#namn(type="text", placeholder="Namn")
                br
                #team
                    span Välj Team 
                    select#teamselect(name="Team") 
                        option(value="W.E.I") W.E.I
                        option(value="C.U.E") C.U.E
            button#profilbutton.buttonstyle(onClick="addProfile()") Lägg till
        form#newskillform.newform(action="")
             h3#formheader Lägg till Färdighet
             #inputcontainer
                span Färdighet: 
                input#skill(type="text", placeholder="Färdigheter")
                br
                #team
                    span Välj Team 
                    select#teamselectother(name="Team") 
                        option(value="W.E.I") W.E.I
                        option(value="C.U.E") C.U.E
              button#skillbutton.buttonstyle(onClick="addSkill()") Lägg till
     