extend layout
block content
        form#newprofilform.newform(action="")
            h3#formheader Lägg till Medlem
            #inputcontainer
                span Profil: 
                input#namn(type="text", placeholder="Namn")
            button#profilbutton.buttonstyle Lägg till
        form#newskillform.newform(action="")
             h3#formheader Lägg till Färdighet
             #inputcontainer
                span Färdighet: 
                input#skill(type="text", placeholder="Färdigheter")
              button#skillbutton.buttonstyle Lägg till
     